html {
    font-family: 'Montserrat', sans-serif;
}

#app {
    display: block;
    padding: 100px;
    background-color: beige;
    color: chartreuse;
    box-sizing: border-box;
}

.caixa {
    max-width: 1000px;
    height: 200px;
    margin: 20px auto;
    padding: 5px;
    background-color: orange;
    border: 2px solid red;
    box-sizing: inherit;
}

.caixa1 {
    visibility: visible;
    position: fixed;
    width: 200px;
    margin: 0;
    padding: 0;
    bottom: 0;
    right: 0;
}

.caixa2 {
    box-sizing: border-box;
}

.caixa3 {
    position: static;
}

