html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: cornsilk;
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
}

.figura-geometrica {
    display: block;
    background-color: #FAA116;
    width: 100px;
    height: 100px;
    margin: 2px;
    border: 2px solid maroon;
    box-sizing: border-box;
}

.quadrado3 {
    margin-left: auto;
}

.quadrado4 {
    margin: 2px auto;
}

.divPai {
    text-align: justify;/*dispõe os elementos internos a direita*/
}

.quadrado5 {
    display: inline-block;
    /*text-align: left;*/
}
.quadrado6 {
    display: inline-block;
}

p {
    color: black;
}